# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin
.settings
.classpath
.project

# Ignore crawled output result
res.txt
html

# Miscellaneous
.vscode
.DS_Store
.idea
